{% extends 'user_profile/base.html' %}
{% load static %}

{% block tab-content %}
    <div class="tab-pane active" id="password_change">
        <form id="changePasswordForm" method="post">
            {% csrf_token %}
            <div class="change-password">
                <div class="title-left">
                    <h3>Change password</h3>
                </div>
                {% include 'accounts/messages.html' %}
            </div>
            {% if title == 'Change password' %}
                <div class="form-field">
                    <label style="float: left" for="id_old_password">Old password</label>
                    <p style="float: right" class="forgot-pass"><a href='{% url 'accounts:password_reset' %}'>Forgot password?</a></p>
                    {{ form.old_password }}
                </div>

                <div class="form-field">
                    <label for="id_new_password1">New password</label>
                    {{ form.new_password1 }}
                    <small></small>
                </div>
                 <div class="form-field">
                     <label for="id_new_password2">Confirm password</label>
                     {{ form.new_password2 }}
                     <small></small>
                </div>
            {% else %}
                <div class="form-field">
                    <label for="id_new_password1">Set password</label>
                    {{ form.password1 }}
                    <small></small>
                </div>
                 <div class="form-field">
                     <label for="id_new_password2">Confirm password</label>
                     {{ form.password2 }}
                     <small></small>
                </div>
            {% endif %}
            <br>
            <div style="margin-bottom: 0" class="price-box-bar d-flex shopping-box">
                <button id="submit-btn" type="submit" class="ml-auto btn hvr-hover">Change</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
        <script src="{% static 'js/profile/change_password.js' %}"></script>
{% endblock %}