{% extends 'store/base.html' %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ category.name }}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        {% for parent in category.get_ancestors %}
                            <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active">{{ category.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-box-inner">
        <form id="filter" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                        <div class="product-categori">
                            <div class="search-product">
                                {{ filter.form.name }}
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </div>

                            <div class="filter-brand-left">
                                <div class="title-left">
                                    <h3>Company</h3>
                                </div>
                                <div class="brand-box">
                                    {{ filter.form.company }}
                                </div>
                            </div>

                            <div class="filter-brand-left">
                                <div class="title-left">
                                    <h3>Year</h3>
                                </div>
                                <div class="brand-box">
                                    {{ filter.form.year }}
                                </div>
                            </div>

                            <div class="filter-price-left">
                                <div class="title-left">
                                    <h3>Price</h3>
                                </div>
                                <div class="price-box-slider">
                                    <div id="slider-range"></div>
                                    <p>
                                        <div style="display: none">{{ filter.form.price }}</div>
                                        <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                        {% if min_price != max_price %}
                                            <button class="btn hvr-hover" type="submit">Filter</button>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                        <div class="right-product-box">
                            <div class="product-item-filter row">
                                <div class="col-12 col-sm-8 text-center text-sm-left">
                                    <form name="sortForm" id="sort_form" method="get">
                                        <div class="toolbar-sorter-right">
                                            <span>Sort by </span>
                                            {{ filter.form.status }}
                                        </div>
                                    </form>
                                    <p>Showing all {{ count }} results</p>
                                </div>
                                <div class="col-12 col-sm-4 text-center text-sm-right">
                                    <ul class="nav nav-tabs ml-auto">
                                        <li>
                                            <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% if products %}
                            <div class="row product-categorie-box">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                        <div class="row">
                                            {% for product in products %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix {% if not product.available %}no-available{% endif %}">
                                                    <div class="box-img-hover">
                                                        {% if product.discount %}
                                                            <div class="type-lb">
                                                                <p class="sale">-{{ product.discount }}%</p>
                                                            </div>
                                                        {% endif %}
                                                        <div class="image">
                                                            <img src="{{ product.imageURL}}" class="img-fluid" alt="{{ product.name }}">
                                                        </div>
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="{{ product.get_absolute_url }}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                <li><a href="{% url "wishlist:wishlist_add" product.id%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            {% if product.available %}
                                                                <a data-product="{{product.id}}" data-action="add" class="cart update-cart" href="#">Add to Cart</a>
                                                            {% else %}
                                                                <a class="cart" href="#">Not available</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>

                                                        <div style="display: flex">
                                                            <div class="product-rating">
                                                                <i class="text-warning {% if product.rate < 1 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                <i class="text-warning {% if product.rate < 2 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                <i class="text-warning {% if product.rate < 3 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                <i class="text-warning {% if product.rate < 4 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                <i class="text-warning {% if product.rate < 5 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                <strong>{{ product.rate |stringformat:".2f"}}</strong>
                                                            </div>
                                                            <div class="reviews_count">
                                                                {% with product.reviews.count as reviews_count %}
                                                                    {{ reviews_count }} Review{{ reviews_count|pluralize }}
                                                                {% endwith %}
                                                            </div>
                                                        </div>

                                                        {% if product.discount %}
                                                            <div class="price">
                                                                <h5 class="old-price">₴{{ product.price }}</h5>
                                                                <h5 class="discount-price">₴{{ product.discount_price }}</h5>
                                                            </div>
                                                        {% else %}
                                                            <h5 style="font-weight: bold;">₴{{ product.price }}</h5>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="list-view">
                                        {% for product in products %}
                                            <div class="list-view-box {% if not product.available %}no-available{% endif %}">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="products-single fix">
                                                            <div class="box-img-hover">
                                                                {% if product.discount %}
                                                                    <div class="type-lb">
                                                                        <p class="sale">-{{ product.discount }}%</p>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="image">
                                                                    <img src="{{ product.imageURL}}" class="img-fluid" alt="{{ product.name }}">
                                                                </div>
                                                                <div class="mask-icon">
                                                                    <ul>
                                                                        <li><a href="{{ product.get_absolute_url }}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                                        <li><a href="{% url "wishlist:wishlist_add" product.id%}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                        <div style="height: auto" class="why-text full-width">
                                                            <h4><a style="color: black; margin-left: -20px" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>

                                                            <div style="display: flex">
                                                                <div class="product-rating">
                                                                    <i class="text-warning {% if product.rate < 1 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                    <i class="text-warning {% if product.rate < 2 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                    <i class="text-warning {% if product.rate < 3 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                    <i class="text-warning {% if product.rate < 4 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                    <i class="text-warning {% if product.rate < 5 %}far{% else %}fas{% endif %} fa-star"></i>
                                                                    <strong>{{ product.rate |stringformat:".2f"}}</strong>
                                                                </div>
                                                                <div class="reviews_count">
                                                                    {% with product.reviews.count as reviews_count %}
                                                                        {{ reviews_count }} Review{{ reviews_count|pluralize }}
                                                                    {% endwith %}
                                                                </div>
                                                            </div>

                                                            {% if product.discount %}
                                                                <h5> <del>₴{{ product.price }}</del> ₴{{ product.discount_price }}</h5>
                                                            {% else %}
                                                                <h5 style="color: black">₴{{ product.price }}</h5>
                                                            {% endif %}

                                                            <p>{{ product.shortSpecifications }}</p>
                                                            {% if product.available %}
                                                                <a data-product="{{product.id}}" data-action="add" class="btn hvr-hover update-cart" href="#">Add to Cart</a>
                                                            {% else %}
                                                                <a class="btn hvr-hover" href="#">Not available</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    {% include "store/pagination.html" with page=products %}
                                </div>
                            </div>
                            {% else %}
                                <img style="position: relative;left: 20%" src="{% static 'images/no_products.png' %}" alt="no_products">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/main/jquery-ui.js' %}"></script>
    <script src="{% static 'js/main/jquery.nicescroll.min.js' %}"></script>

    <script>
        var orderSelect = document.getElementById("id_order");

        function changeOption(){
            var selectedOption = orderSelect.options[orderSelect.selectedIndex];
            document.getElementById("filter").submit();
        }

        orderSelect.addEventListener("change", changeOption);
    </script>

    <script>
        var labels = document.querySelectorAll("div.brand-box input");

        for(var i = 0; i < labels.length; i++){
            labels[i].addEventListener('click', function(){
                console.log('Click')
                var company = this.getAttribute("value");
                console.log(company);

                document.getElementById("filter").submit();
            })
        }
    </script>

    <script>
        $(function() {
            let minvalue = {{ min_price }};
            let maxvalue = {{ max_price }};
            console.log(minvalue + " " + maxvalue);
            let left = $("#id_price_0").val();
            let right = $("#id_price_1").val();
            if(left == "")
                left = minvalue;
            if(right == "")
                right = maxvalue;

            console.log(left + " " + right);
            $("#slider-range").slider({
                range: true,
                min: minvalue,
                max: maxvalue,
                values: [left, right],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    $("#id_price_0").val(ui.values[0])
                    $("#id_price_1").val(ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>

{% endblock %}
