{% extends "store/base.html" %}
{% load static %}
{% block title %}
    WishList
{% endblock %}
{% block content %}
    <div class="all-title-box">
        <div class="container">
            <h1 style="font-size: 3em;font-weight: 1000;color: white">Wish List</h1>
        </div>
    </div>

    <div class="products-box">
        <div class="container">
            <div class="row">
            {% if wishlist|length > 0 %}
                {% for item in wishlist %}
                    {% with product=item.product %}
                        <div class="col-lg-3 col-md-6 special-grid ">
                            <div class="products-single fix {% if not product.available %}no-available{% endif %}">
                                <div class="box-img-hover">
                                    {% if product.discount %}
                                        <div class="type-lb">
                                            <p class="sale">-{{ product.discount }}%</p>
                                        </div>
                                    {% endif %}
                                    <div class="image">
                                        <img src="{{ product.imageURL}}" class="img-fluid" alt="{{ product.name }}">
                                    </div>
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url "wishlist:wishlist_remove" product.id%}" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fas fa-trash-alt"></i></a></li>
                                        </ul>
                                        {% if product.available %}
                                            <a data-product="{{product.id}}" data-action="add" class="cart update-cart" href="#">Add to Cart</a>
                                        {% else %}
                                            <a class="cart" href="#">Not available</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>

                                    <div style="display: flex">
                                        <div class="product-rating">
                                            <i class="text-warning {% if product.rate < 1 %}far{% else %}fas{% endif %} fa-star"></i>
                                            <i class="text-warning {% if product.rate < 2 %}far{% else %}fas{% endif %} fa-star"></i>
                                            <i class="text-warning {% if product.rate < 3 %}far{% else %}fas{% endif %} fa-star"></i>
                                            <i class="text-warning {% if product.rate < 4 %}far{% else %}fas{% endif %} fa-star"></i>
                                            <i class="text-warning {% if product.rate < 5 %}far{% else %}fas{% endif %} fa-star"></i>
                                            <strong>{{ product.rate |stringformat:".2f"}}</strong>
                                        </div>
                                        <div class="reviews_count">
                                            {% with product.reviews.count as reviews_count %}
                                                {{ reviews_count }} Review{{ reviews_count|pluralize }}
                                            {% endwith %}
                                        </div>
                                    </div>

                                    {% if product.discount %}
                                        <div class="price">
                                            <h5 class="old-price">₴{{ product.price }}</h5>
                                            <h5 class="discount-price">₴{{ product.discount_price }}</h5>
                                        </div>
                                    {% else %}
                                        <h5 style="font-weight: bold;">₴{{ product.price }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            {% else %}
                <img class="empty-cart" src="{% static 'images/icons/empty-cart.png' %}" alt="empty-cart">
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}