{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Checkout</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'cart:cart_detail' %}">Cart</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <form action="." id="orderForm" class="needs-validation" method="post">
                        {% csrf_token %}
                        <div class="customer">
                             <div class="title-left">
                                <h3>Customer information</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3 order-form-control">
                                    <label for="id_customer_first_name">First name <span style="color: red">*</span></label>
                                    {{ form.customer_first_name }}
                                    <small>Error Message</small>
                                </div>
                                <div class="col-md-6 mb-3 order-form-control">
                                    <label for="id_customer_last_name">Last name <span style="color: red">*</span></label>
                                    {{ form.customer_last_name }}
                                    <small>Error Message</small>
                                </div>
                            </div>
                            <div class="mb-3 order-form-control">
                                <label for="id_customer_email">Email Address <span style="color: red">*</span></label>
                                    {{ form.customer_email }}
                                <small>Error Message</small>
                            </div>
                            <div class="mb-3 order-form-control">
                                <label for="id_customer_phone">Mobile Phone <span style="color: red">*</span></label>
                                    {{ form.customer_phone }}
                                <small>Error Message</small>
                            </div>
                        </div>

                        <div class="delivery">
                            <div class="title-left">
                                <h3>Delivery</h3>
                            </div>
                            <div class="mb-3 order-form-control">
                                <label for="id_city">City <span style="color: red">*</span></label>
                                    {{ form.city }}
                                <small>Error Message</small>
                            </div>

                            <div class="mb-3 order-form-control">
                                <label for="id_address">Address <span style="color: red">*</span></label>
                                    {{ form.address }}
                                <small>Error Message</small>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" checked class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto">I am the recipient</label>
                            </div>
                        </div>
                        <br>

                        <div class="recipient">
                            <div class="row">
                                <div class="col-md-6 mb-3 order-form-control">
                                    <label for="id_recipient_first_name">First name <span style="color: red">*</span></label>
                                    {{ form.recipient_first_name }}
                                    <small>Error Message</small>
                                </div>
                                <div class="col-md-6 mb-3 order-form-control">
                                    <label for="id_recipient_last_name">Last name <span style="color: red">*</span></label>
                                    {{ form.recipient_last_name }}
                                    <small>Error Message</small>
                                </div>
                            </div>
                            <div class="mb-3 order-form-control">
                                <label for="id_recipient_email">Email Address <span style="color: red">*</span></label>
                                    {{ form.recipient_email }}
                                <small>Error Message</small>
                            </div>
                        </div>

                        <div class="shipping-method-box">
                            <div class="title-left">
                                <h3>Shipping Method</h3>
                            </div>

                            {{ form.instance.delivary.name }}

                            <div class="mb-4">

                                {% for delivery in deliveries %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="delivery" value="{{ delivery.id }}" class="custom-control-input" id="id_delivery_{{ forloop.counter0 }}"
                                        data-price="{{ delivery.price }}"{% if forloop.counter0 == 0 %} checked{% endif %}>
                                        <label class="custom-control-label" for="id_delivery_{{ forloop.counter0 }}">
                                            {{ delivery.name }}
                                        </label>
                                        <span class="float-right font-weight-bold">{% if delivery.price == 0 %}FREE{% else %}₴{{ delivery.price }}{% endif %}</span>
                                    </div>
                                    <div class="ml-4 mb-2 small">{{ delivery.description }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="payment">
                            <div class="title-left">
                                <h3>Payment</h3>
                            </div>
                            <div class="d-block my-3">
                                {% for radio in form.paymentMethod %}
                                    <div class="custom-control custom-radio">
                                        {{ radio.tag }}
                                        <label class="custom-control-label" for="id_paymentMethod_{{ forloop.counter0 }}">
                                            {{ radio.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class='order-info'>
                                <div class='order-info-content'>
                                    {% for item in cart %}
                                        {% with product=item.product %}
                                            <table class='order-table'>
                                                <tbody>
                                                <tr>
                                                    <td><img src="{{ product.imageURL }}" class='full-width' alt="{{ product.name }}"/>
                                                    </td>
                                                    <td>
                                                        <a href="{{ product.get_absolute_url }}"><span class='thin'>{{ product.name }}</span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class='qnt'>x{{ item.quantity }}</div>
                                                        <div class='order-item-price'>₴{{ item.total_price }}</div>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        {% endwith %}
                                        <div class='line'></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Your order</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> ₴{{ cart.get_total_price }} </div>
                            </div>
                            <hr class="my-1">
                            {% if cart.coupon %}
                                <div class="d-flex">
                                <h4>Coupon: {{ cart.coupon.code }} ({{ cart.coupon.discount }}%)</h4>
                                <div class="ml-auto font-weight-bold coupon">
                                    <span> - ₴{{ cart.get_discount }}</span>
                                </div>
                            </div>
                            {% endif %}
                            <div class="d-flex">
                                <h4>Delivery Cost</h4>
                                <div id="delivery_price" class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> ₴<span id="grand_total">{{ cart.get_total_price_after_discount }}</span> </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="price-box-bar col-12 d-flex shopping-box">
                        <button id="order-submit-btn" form="orderForm" type="submit" class="ml-auto btn hvr-hover">Place Order</button>
                    </div>

                </div>
                <div id="paypal-button-container"></div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block script %}

    <script src="{% static 'js/main/order.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8dhGOLmLiQ4YQOf1wzQktd0oNI7iga80&libraries=places&callback=initMap"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=AdeTBfKQpcdnrMliYc3BrK8UEvyZy9l8kyLu23qTwL-xJgWn6n39d7pIBKkSewzVYnjnS9lJHuviCCN1&currency=RUB"></script>

    <script>
        let grand_total = document.getElementById("grand_total");
        let total = '{{ cart.get_total_price_after_discount }}';
        let delivery_price = document.getElementById("delivery_price");
        let deliveries = document.getElementsByName("delivery");
        let grand = total;

        for (let i = 0; i < deliveries.length; i++) {
            deliveries[i].addEventListener('change', function() {
                if(this.dataset.price === '0')
                    delivery_price.innerText = "Free";
                else
                    delivery_price.innerText = "₴" + this.dataset.price;
                recalculate_total(this.dataset.price);
            });
        }

        function recalculate_total(delivery_price){
            grand = parseInt(total) + parseInt(delivery_price);
            grand_total.innerText = grand;
            if(document.getElementById("id_paymentMethod_0").checked !== true)
                RenderPaypalButton();
        }

    </script>

    <script>
        let methods = document.getElementsByName("paymentMethod");

        for (let i = 0; i < methods.length; i++) {
            methods[i].addEventListener('change', function() {
                if(this.value === "Card" || this.value === "PayPal") {
                    submit.hidden = true;
                    RenderPaypalButton();
                }
                else {
                    document.querySelector('#paypal-button-container').innerHTML = "";
                    submit.hidden = false;
                }
            });
        }

        function RenderPaypalButton() {
            document.querySelector('#paypal-button-container').innerHTML = "";
            console.log(grand);
            paypal.Buttons({
                style: {
                    color: 'blue',
                    shape: 'pill',
                    size: 'responsive',
                },
                funding:
                {
                    disallowed: [ paypal.FUNDING.CARD ]
                },
                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: grand,
                            }
                        }]
                    });
                },

                onClick: function(data, actions) {
                    if (!validate()) {
                        return actions.reject();
                    } else {
                        return actions.resolve();
                    }
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        console.log("Success");
                        form.submit();
                    });
                }
            }).render('#paypal-button-container');
        }
    </script>

    <script>
        if(user !== 'AnonymousUser') {
           customer_first_name.value = '{{ user.first_name }}';
           customer_last_name.value = '{{ user.last_name }}';
           customer_email.value = '{{ user.email }}';
           customer_phone.value = '{{ user.profile.phone }}';
           recipient_first_name.value = customer_first_name.value;
           recipient_last_name.value = customer_last_name.value;
           recipient_email.value = customer_email.value;
        }
    </script>


{% endblock %}
