{% extends "store/base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/accounts/register.css' %}">
{% endblock %}

{% block content%}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Reset Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sign-body">
        <div class="container-sign">
            <form method="post" id="password_reset" class="form">
                {% csrf_token %}
                <h1>Password reset form</h1>
                <div class="form-field">
                    <label for="password">New password:</label>
                    {{ form.new_password1 }}
                    <small></small>
                </div>

                <div class="form-field">
                    <label for="username">Confirm new password:</label>
                    {{ form.new_password2 }}
                    <small></small>
                </div>
                <div class="form-field">
                    <button type="submit" class="btn-sign">Reset Password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock%}

{% block script %}
    <script src="{% static 'js/accounts/password_reset.js' %}"></script>
{% endblock script %}