{% extends "store/base.html" %}
{% block content %}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1 style="font-size: 3.5em">Password reset invalid</h1>
        <h3 style="width: 60%; margin: 0 auto">Recovery link does not active anymore. <a href="{% url 'accounts:password_reset' %}">Please, try again</a></h3>
    </div>
    <br/>
    {% if not user.is_authenticeted %}
        <div style="margin-bottom: 20px" class="col-12 text-center shopping-box">
            <a class="ml-auto btn hvr-hover" href="{% url 'accounts:login' %}">Login</a>
        </div>
    {% endif %}
{% endblock%}